## Final Project Submission

## Final Project Submission


* #### __Student name:__ Pascalia Maiga
* #### __Student pace: Full time__
* #### __Scheduled project review date/time: N/A
* #### __Instructor name: Maryann Mwikali
* #### __Blog post URL:N/A

1. Introduction

## 1.1 Overview
This project is purposely for coming up with insights to assist Microsoft on how to start and be proficient in the movie business. For us to come up with this insights we will be required to use exploratory data which will assist us on choosing what type of films should be created by Microsoft.

 ## 1.2 Objectives

### 1.2.1 General objectives
To choose which kind of films should be produced by Microsoft through deeper research and assessment on the kind of films that are currently excelling at the box office.

### 1.2.2 Other objectives

i. Loading datasets into pandas <br>
ii. Retrieving data from a DataFrame <br>
iii. Data preparation annd cleaning <br>
iv. Exploratory analysis <br>
v. Data visualization <br>

To load the data use:
- movies_gross = pd.read_csv('zippedData/bom.movie_gross.csv') <br>
- conn = sqlite3.connect('zippedData/im.db') <br>
- movie_info = pd.read_csv('zippedData/rt.movie_info.tsv', delimiter ='\t', encoding='unicode_escape' )
- movies_budget = pd.read_csv('zippedData/tn.movie_budget.csv') <br>
- reviews = pd.read_csv('zippedData/rt.reviews.tsv', delimiter='\t',encoding='unicode_escape') <br>
- tmd = pd.read_csv('zippedData/tmdb.movies.csv',index_col=0) <br>

## 2.3 Exploring the datasets

### 2.3.1 The Numbers dataset
The Numbers dataset informs us about budget and returns. <br>

In [ ]:
import pandas as pd

:

In [2]:



#Load the data from tn.movie_budgets.csv into a dataframe
movies_budget = pd.read_csv('zippedData/tn.movie_budgets.csv')

#Cast to numeric data type
movies_budget['production_budget'] = movies_budget['production_budget'].replace('[^.0-9]', '', regex=True).astype('float32')
movies_budget['domestic_gross'] = movies_budget['domestic_gross'].replace('[^.0-9]', '', regex=True).astype('float32')
movies_budget['worldwide_gross'] = movies_budget['worldwide_gross'].replace('[^.0-9]', '',regex = True).astype('float64')
movies_budget.head(5)

NameError: name 'pd' is not defined

The production budget, domestic gross, and worldwide gross are then cast to float type for mathematical manipulation.

In [1]:
movies_budget.shape

NameError: name 'movies_budget' is not defined

In [ ]:
movies_budget.info()

In [ ]:
movies_budget.isna().sum()

The movie budget Data frame has 5,782 rows and 6 columns namely: id,release_date, movie, production_budget, domestic gross and worldwide_gross. The data types are as float,object and int. The are no null values.

Finding out the movies budget, first we get the international gross by subtracting the domestic gross from the woorldwide gross

In [ ]:
#getting the international gross
movies_budget['international_gross'] = movies_budget['worldwide_gross'] - movies_budget['domestic_gross']
cols = list(movies_budget.columns)

movies_budget.head(10)

In [ ]:

movies_budget.info()

#### Filtering the Data
Here we will drop the rows without the values for the domestic, international and worldwide gross.

In [ ]:
movies_budget.sort_values('worldwide_gross')

In [ ]:

# drop all rows without the gross values
movies_budget_drop = movies_budget[(movies_budget['domestic_gross' == 0) & (movies_budget'worldwide_gross' == 0 )]

In [ ]:


movies_budget.drop(movies_budget_drop.index, axis=0, inplace=True)
movies_budget.head(5)


In order to have relevant budgeting information, filter the years to get only the data from 2011

In [ ]:
#convert from object to string
movies_budget['year'] = movies_budget['year'].astype(int)

In [ ]:


movies_budget.drop(movies_budget_drop.index, axis=0, inplace=True)
movies_budget.head(5)

In order to have relevant budgeting information, filter the years to get only the data from 2011

In [ ]:
#convert from object to string
movies_budget['year'] = movies_budget['year'].astype(int)

In [ ]:
#drop rows which are not between the years 2015 and 2022
drop_=  movies_budget[(movies_budget['year'] <= 2014)]
movies_budget.drop(drop_.index, axis=0, inplace=True)
movies_budget.info()

In [ ]:
movies_budget['year'].value_counts()

In [ ]:
movies_budget.describe()

We now come up with the percentage profits of the movies derived from the production budget and the world wide gross.

In [ ]:
movies_budget['profit/loss'] = (movies_budget['worldwide_gross'] - movies_budget['production_budget'])
movies_budget['profit/loss'] = movies_budget['profit/loss'].astype(int)      
movies_budget['profit/loss'].tail()

In [ ]:
movies_budget.shape

### 2.3.2 Box Office Mojo Dataset

The bom dataset gives information on the domestic gross values and the foreign gross.

In [ ]:
#previewing the second dataset
movies_gross = pd.read_csv('zippedData/bom.movie_gross.csv')
movies_gross.tail(10)

In [ ]:
#find out the shape of the dataset
movies_gross.shape

In [ ]:
movies_gross['year'].unique()

In [ ]:


movies_budget.drop(movies_budget_drop.index, axis=0, inplace=True)
movies_budget.head(5)

In [ ]:
movies_gross.info()

In [ ]:
movies_gross.isna().sum()

In [ ]:
#drop the rows without gross values
movies_gross.dropna(subset=['foreign_gross','domestic_gross'], inplace=True)
movies_gross.isna().sum()

### 2.3.3 TheMovieDB dataset

The tmdb.movies dataset gives us information on the popularity of a movie with respect to the language.

In [ ]:
tmd = pd.read_csv('zippedData/tmdb.movies.csv',index_col=0)
tmd.head(5)

In [ ]:
tmd['original_language'].value_counts().head(5)

In [ ]:
tmd.shape

In [ ]:
tmd.info()

In [ ]:
tmd.duplicated().sum()

In [ ]:
#drop all duplicate rows based on the titles columns
tmd = tmd.drop_duplicates(subset = ['title','original_title'], keep = 'first')
tmd.info()

In [ ]:
tmd.duplicated().sum()

The data has no duplicates

In [ ]:
tmd['popularity'].max()

### 2.3.4 Rotten tomatoes dataset

In [ ]:
reviews = pd.read_csv('zippedData/rt.reviews.tsv', delimiter='\t',encoding='unicode_escape')
reviews.tail(10)

In [ ]:
reviews.info()

In [ ]:
reviews.isna().sum()

In [ ]:
reviews.duplicated().sum()

In [ ]:
reviews.dropna(axis=0, inplace = True)
reviews.head(10)

From the reviews dataframe it is impossible to get valid data that can be used to draw conclusion on the ratings and the reviews

### 2.3.5 IMDB dataset

In [ ]:
conn = sqlite3.connect('zippedData/im.db')
cur = conn.cursor()

#### Find the table names in im.db

In [ ]:
cur.execute("""SELECT name FROM sqlite_master WHERE type = 'table';""")
# Fetch the result and store it in table_names
table_names = cur.fetchall()
table_names

Im.db has 8 tables. The movie_ratings and movie_basics are more relevant to our study as they will help gain information on the highly rated genres.

In [ ]:
moviebasics = pd.read_sql_query("""SELECT * 
FROM movie_basics
;""",conn)

moviebasics.tail(10)

In [ ]:
movieratings = pd.read_sql_query("""SELECT * 
FROM movie_ratings
;""",conn)

movieratings.tail(10)

In [ ]:
ratings = pd.read_sql_query("""
SELECT primary_title, movie_id, start_year, runtime_minutes, genres, averagerating, numvotes
FROM movie_basics
JOIN movie_ratings
    USING(movie_id)
LIMIT 10
;""", conn)

ratings

In [ ]:
movie_akas = pd.read_sql_query("""SELECT * 
FROM movie_akas
;""",conn)

movie_akas.tail(10)

In [ ]:
#find the languages 
movie_akas['language'].unique()
movie_akas['language'].value_counts().head(10)

In [ ]:
movie_info.isna().sum()

In [ ]:
movie_info.dropna(inplace = True)

In [ ]:
movie_info.info()

In [ ]:
movie_info.head(10)

## 3. Merging Datasets

In [ ]:
#renaming the column for merging

movies_gross.rename(columns={'title':'movie'}, inplace=True)
tmd.rename(columns={'original_title':'movie'}, inplace=True)
moviebasics.rename(columns={'original_title':'movie'},inplace=True)

In [ ]:
#merging the movie_budget dataframe and movie_gross 

df_budget_and_gross = movies_budget.merge(movies_gross, how = 'inner', on ='movie')

In [ ]:
df_budget_and_gross.shape

Merging tmd dataframe with the moviebasics table

In [ ]:
#merge tmd with movie basics to get common languages

popularity_ratings_df = tmd.merge(moviebasics, how = 'inner', on ='movie')

In [ ]:
popularity_ratings_df.shape

In [ ]:
final_df = pd.merge(df_budget_and_gross,popularity_ratings_df, how = 'inner', on ='movie')
final_df.head(5)

In [ ]:
final_df.shape

In [ ]:
#finding the column names
list(final_df.columns)

In [ ]:
# dropping the unnecessary columns

final_df.drop(columns=['id_x', 'release_date_x', 'domestic_gross_x','year_x','domestic_gross_y', 'year_y', 'genre_ids', 'id_y', 'release_date_y','movie_id','primary_title','start_year'],inplace= True)
final_df.head(5)

In [ ]:
#lets view the last 10 columns

final_df.tail(10)

The common language is English so we can drop that column

In [ ]:
final_df.drop(columns=['title','original_language'],inplace=True)
final_df.head(5)

In [ ]:
final_df.nunique()

In [ ]:
# checking for null values

final_df.isna().sum()

In [ ]:
# checking for duplicates

final_df.duplicated(['movie']).sum()

In [ ]:
final_df.drop_duplicates(subset= ['movie'] ,inplace=True)
final_df.shape

In [ ]:
final_df.isna().sum()

Drop the two rows with null values in the genres column.

In [ ]:
final_df.dropna(subset = ['genres'],inplace=True)
final_df.isna().sum()

In [ ]:
# Exporting this combined dataframe to a csv

final_df.to_csv('Cleaned Microsoft Data.csv')

# 4. Exploratory Data Analysis (EDA)

### 4.1 What are the popular genres in the box office?

In [ ]:
popular = final_df.sort_values('popularity', ascending = False)

In [ ]:
# accessing the individual genre element per row

top_genres = [genre.split(',') for genre in popular['genres']]

top_genres

In [ ]:
# accessing all genre elements in the rows

top_genres_list = [genre_ for element in top_genres  for genre_ in element]

top_genres_list

In [ ]:
# get the unique genres

unique_genres = []

for genre_ in top_genres_list:
    if genre_ not in unique_genres:
        unique_genres.append(genre_)

In [ ]:
# count the number of times the unique genre appeared.
#import Counter
from collections import Counter

count_1 = Counter(top_genres_list)
count_1

In [ ]:
# separating the genres and the count

genre = []
count = []

for key, values in count_1.items():
    genre.append(key)

In [ ]:
# plotting the data above


fig, ax = plt.subplots(figsize=(12,10))

x = genre
y = count

ax = sns.barplot(x = x, y = y, ax = ax)

ax.set_title('Genre Vs Population', fontsize=16)
ax.set_xlabel("Movie Genre",fontsize=14)
ax.set_ylabel("Count", fontsize=14);

ax.set_xticklabels(labels = x, rotation = 75)
fig.savefig('Genres Vs Population.png');

From the bar graph,we can say that Drama is the most popular Genre in the movie industry as it has the tallest bar.

In [ ]:
# sorting to find the popular movies per vote_average

movie_ratings = final_df.sort_values(by = ['popularity', 'vote_average'],ascending=(False, False)).head(10)
movie_ratings = movie_ratings.sort_values('vote_average',ascending=False).reset_index(drop=True)

In [ ]:
# sorting to find the popular movies per vote_average

movie_ratings = final_df.sort_values(by = ['popularity', 'vote_average'],ascending=(False, False)).head(10)
movie_ratings = movie_ratings.sort_values('vote_average',ascending=False).reset_index(drop=True)

In [ ]:
final_df['studio'].unique()

### 4.2 What are the most popular studios with high world-wide gross?

In [ ]:
# sorting values to find movies with the highest grossing

highest_gross = final_df.sort_values('worldwide_gross', ascending = False).head(10)
highest_gross.reset_index(drop=True)

In [ ]:
# movies with the highest gross

highest_gross.loc[:,['movie','worldwide_gross']]

In [ ]:
import matplotlib.ticker as mticker

In [ ]:
# plotting the data above

fig, ax1= plt.subplots(figsize=(20,12))

x = list(movie_ratings['movie'].values)
y = movie_ratings['vote_average']

ax1 = sns.barplot(data = movie_ratings, x = 'movie', y = 'vote_average', hue = 'studio', ax = ax1, dodge=False)

ax1.set_title('Movies Vs Ratings', fontsize=20)
ax1.set_xlabel("Movie Titles",fontsize=18)
ax1.set_ylabel("Movie Ratings", fontsize=18)
ax1.legend(title='Studios', fontsize=18, loc=1)
ax1.set_xticklabels(labels = x, rotation = 60,fontsize=14)
ax1.set_yticklabels(labels = y,fontsize=14)

ax1.set_xticklabels(labels = x, rotation = 45)
ax1.set_ylim(4.5, 8.5)
fig.savefig('Movies Vs Ratings per studio.png')

From the bar graph we can see that BV studios has highly rated movies, with the top two movies being Avengers and Thor.

In [ ]:

fig, ax2= plt.subplots(figsize=(20,12))
ax2 = sns.barplot(data = highest_gross, x = 'movie', y = 'worldwide_gross',hue = 'studio', ax = ax2, dodge=False)

labels = list(highest_gross['movie'])
ax2.set_title('Movies Vs Gross', fontsize=20)
ax2.set_xlabel("Movie Titles",fontsize=18)
ax2.set_ylabel("Movie Gross ", fontsize=18)
ax2.set_ylim(1000)

ax2.set_xticklabels(labels = labels, rotation = 75,fontsize=14)
ax2.set_yticklabels(labels = y,fontsize=14)

fig.savefig('Movies Vs Worldwide gross.png');

### 4.3 Does popularity affect the worldwide gross?

In [ ]:
# plotting a scatterplot

fig, ax= plt.subplots(figsize=(8,6))

x = final_df['popularity']
y = final_df['worldwide_gross']

ax.scatter(x,y)

ax.set_title('Popularity vs World-wide gross', fontsize=16)
ax.set_xlabel("Popularity",fontsize=14)
ax.set_ylabel("Worldwide Gross ", fontsize=14)
fig.savefig('Popularity vs Worldwide gross.png');

### 4.4 Does budget affect revenue?

In [ ]:
# plotting a scatterplot

fig, ax= plt.subplots(figsize=(10,8))

x = final_df['production_budget']
y = final_df['profit/loss']

ax.scatter(x,y)

ax.set_title('Profits vs Production Budget', fontsize=16)
ax.set_xlabel("Budget",fontsize=14)
ax.set_ylabel("Profits ", fontsize=14)
fig.savefig('Budget vs Revenue.png');

### 4.5 Does rating affect revenue?

In [ ]:
# plotting a scatterplot

fig, ax= plt.subplots(figsize=(8,6))

x = final_df['worldwide_gross']
y = final_df['vote_average']

ax.scatter(x,y)

ax.set_title('Ratings Vs Revenue', fontsize=16)
ax.set_ylabel("Ratings",fontsize=14)
ax.set_xlabel("Worldwide Gross (10^9)", fontsize=14)
fig.savefig('Ratings vs Revenue.png');

### 4.6 Does popularity affect the rating?

In [ ]:
# plotting a scatterplot

fig, ax= plt.subplots(figsize=(8,6))

x = final_df['vote_average']
y = final_df['popularity']

ax.scatter(x,y)

ax.set_title('Ratings Vs Popularity', fontsize=16)
ax.set_xlabel("Ratings",fontsize=14)
ax.set_ylabel("Popularity", fontsize=14)
fig.savefig('Ratings vs Popularity.png');

In [ ]:
### 4.7 Does the runtime minutes affect the ratings?

In [ ]:
# plotting a scatterplot

fig, ax= plt.subplots(figsize=(8,6))

x = final_df['runtime_minutes']
y = final_df['vote_average']

ax.scatter(x,y)

ax.set_title('Ratings Vs Runtime', fontsize=16)
ax.set_ylabel("Ratings",fontsize=14)
ax.set_xlabel("Runtime minutes", fontsize=14)
fig.savefig('Ratings vs Runtime.png');

### 4.8 Does runtime minutes affect the popularity?

In [ ]:
# plotting a scatterplot

fig, ax= plt.subplots(figsize=(8,6))

x= final_df['runtime_minutes'] 
y= final_df['popularity']


ax.scatter(x,y)

ax.set_title('Popularity Vs Runtime', fontsize=16)
ax.set_ylabel("Popularity",fontsize=14)
ax.set_xlabel("Runtime minutes", fontsize=14)
fig.savefig('Popularity vs Runtime.png');